<?xml version="1.0"?>
<launch>

	<!-- Nodes to be launched -->
	<node pkg="actuator_ctrl" type="timedPT.py" name="PT_node" output="screen" launch-prefix="xterm -e"/>
	<node pkg="actuator_ctrl" type="calibMot.py" name="exec_node" output="screen" launch-prefix="xterm -e"/>
	<node pkg="actuator_ctrl" type="CS.py" name="CS_node" output="screen" launch-prefix="xterm -e"/>
</launch>
